@font-face {
  font-family: 'CustomFont';
  src: url("../public/sriracha-regular/SrirachaRegular/SrirachaRegular.ttf") format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CustomFont', sans-serif;
}

body {
  font-family: 'CustomFont', sans-serif;
}